.table-img {
  width: 100%;
}

.line {
  text-align: center;
}

.el-checkbox {
  float: left;
  width: 160px;
  padding-right: 20px;
  margin: 0 !important;
  padding: 0;
}

.el-pagination {
  padding-top: 40px;
}

.table-add-container {
  .el-form {
    width: 800px;
    padding: 20px 40px;
  }

}
