/* 改变主题色变量 */
$--color-primary: #20a0ff !default;
$--color-success: #13ce66 !default;
$--color-warning: #f7ba2a !default;
$--color-danger: #ff4949 !default;
$--color-info: #50bfff !default;

$--color-text-primary: #303133 !default;
$--color-text-regular: #1f2d3d !default;
$--color-text-secondary: #797A80 !default;
$--color-text-placeholder: #B4B7BF !default;
$--border-radius-base: 3px !default;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
